In [24]:
import pandas as pd

In [25]:
data=pd.read_csv(r'C:\Users\kalali aravindgoud\Desktop\Dataset\Fish.csv')
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [26]:
data['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [27]:
#converting species column into LabelEncoder

In [28]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data['Species']=l.fit_transform(data['Species'])

In [29]:
Species=pd.DataFrame(data[['Species']])
Species

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
154        5
155        5
156        5
157        5
158        5

[159 rows x 1 columns]

In [47]:
Species.value_counts()

Species
2          56
0          35
4          20
3          17
5          14
1          11
6           6
dtype: int64

In [65]:
data['Width'].max()

8.142

In [31]:
data

     Species  Weight  Length1  Length2  Length3   Height   Width
0          0   242.0     23.2     25.4     30.0  11.5200  4.0200
1          0   290.0     24.0     26.3     31.2  12.4800  4.3056
2          0   340.0     23.9     26.5     31.1  12.3778  4.6961
3          0   363.0     26.3     29.0     33.5  12.7300  4.4555
4          0   430.0     26.5     29.0     34.0  12.4440  5.1340
..       ...     ...      ...      ...      ...      ...     ...
154        5    12.2     11.5     12.2     13.4   2.0904  1.3936
155        5    13.4     11.7     12.4     13.5   2.4300  1.2690
156        5    12.2     12.1     13.0     13.8   2.2770  1.2558
157        5    19.7     13.2     14.3     15.2   2.8728  2.0672
158        5    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [32]:
cl=data[['Weight']]
fv=data[['Species','Length1','Length2','Length3','Height','Width']]

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(fv,cl,train_size=0.7)

In [34]:
lr=LinearRegression()

In [35]:
model=lr.fit(x_train,y_train)

In [36]:
# y=wx+wo

In [37]:
lr.get_params()

{'copy_X': True,
 'fit_intercept': True,
 'n_jobs': None,
 'normalize': 'deprecated',
 'positive': False}

In [38]:
predi=model.predict(x_test)

In [39]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [40]:
mean_squared_error(y_test,predi)

18579.262040039554

In [41]:
mean_absolute_error(y_test,predi)

93.91291935735778

In [44]:
r2_score(y_test,predi) #Giving r2_score of 88%

0.88613051992886

In [45]:
import joblib

In [54]:
joblib.dump(model,r'C:\Users\kalali aravindgoud\Desktop\Dataset\finalm1.joblib')

['C:\\Users\\kalali aravindgoud\\Desktop\\Dataset\\finalm1.joblib']

In [ ]:
:)